body{
    background-color: rgb(112, 112, 201);
}

.input{
    background-color: white;
    color: black;
    border: none;
}

#mydiv{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}